<div class="container mt-5">
  <div class="row">

    <div class="col-10">
      <div class="p-3 search-bg border shadow-sm rounded">
        <h3>ブックマーク検索</h3>
        <%= search_form_for @q, url: bookmark_search_path do |f| %>
          <div><%= render "recipes/search_form", f: f %></div>
        <% end %>
      </div>

      <%= render "recipes/tag_list", tags: @tags %>

      <div class="d-flex flex-wrap mt-4">
        <% if @bookmarks.present? %>

          <% @bookmarks.each do |bookmark| %>
            <div class="mx-2 bg-white p-2 mb-3 border shadow-sm" style="width: 290px;">
              <div>
                <%= link_to recipe_path(bookmark.recipe) do %>
                  <%= attachment_image_tag bookmark.recipe, :recipe_image, size: '270x200', format:'jpeg', fallback: "no_image.png" %>
                <% end %>
              </div>
              <!--レシピ名・ブックマークボタン-->
              <div class="d-flex">
                <h5 class="mt-2"><%= link_to "#{bookmark.recipe.name}", recipe_path(bookmark.recipe) %></h5>
                <% if bookmark.recipe.user_id != current_user.id %>
                  <div id="bookmark-<%= bookmark.recipe.id %>" class="h5 ml-auto pr-2 mt-2">
                    <%= render "bookmarks/bookmark_button", recipe: bookmark.recipe %>
                  </div>
                <% end %>
              </div>

              <!--調理時間-->
              <% if bookmark.recipe.time.present? %>
                <p><i class="far fa-clock"></i> <%= bookmark.recipe.time %>分</p>
              <% end %>

              <!--タグ-->
              <% if bookmark.recipe.tags.present? %>
                <% bookmark.recipe.tags.each do |tag| %>
                  <p class="badge badge-pill badge-success">#<%= tag.tag_name %></p>
                <% end %>
              <% end %>
            </div>
          <% end %>

        <% else %>
          <h3 class="d-table mx-auto mt-5">ブックマークしたレシピはありません</h3>
        <% end %>
      </div>

      <div class="d-table mx-auto mt-3"><%= paginate @bookmarks %></div>
    </div>

    <%= render "layouts/sidebar" %>
  </div>
</div>