<%= form_with model: menu, local: true do |f| %>
  <div class="d-flex menu-form">
    <p class="col-4">画像 <%= render "layouts/not_null_badge" %></p>
    <div class="menu-form">
      <%= f.attachment_field :menu_image, placeholder: "ファイルを選択" %>
      <img id="menu-preview", class="my-3 col-8">
    </div>
  </div>

  <div class="d-flex mb-3 menu-form">
    <p class="col-4">日付 <%= render "layouts/not_null_badge" %></p>
    <div><%= f.date_field :date, include_blank: true, class: "form-control form-control-sm d-inline-block mini-form" %></div>
  </div>

  <div class="d-flex menu-form">
    <p class="col-4">カテゴリー</p>
    <div><%= f.select :category, Menu.categories.keys, {}, {class: "form-control form-control-sm mini-form"} %></div>
  </div>

  <div class="d-flex my-3 menu-form">
    <p class="col-4">メニュー</p>
    <div class="menu-form"><%= f.text_area :list, size: "40x5", placeholder: "・カレーライス\n・サラダ", class: "form-control" %></div>
  </div>

  <div class="d-flex my-3 menu-form">
    <p class="col-4">マイレシピから選択</p>
    <div id="recipes menu-form">
      <%= f.fields_for :menu_recipes do |f| %>
        <%= render "menu_recipe_fields", f: f %>
      <% end %>
      <!--マイレシピから選択フォームの追加ボタン-->
      <div class="mb-3">
        <%= link_to_add_association "+フォームを追加", f, :menu_recipes, class: "btn btn-sm btn-gray rounded-pill" %>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-4">
    <div><%= link_to "キャンセル", menus_path, class: "btn btn-gray mr-2" %></div>
    <div><%= f.submit "メニューを保存", class: "btn btn-violet" %></div>
  </div>
<% end %>

<!--画像のプレビュー表示-->
<script>
  $('#menu_menu_image').on('change', function (e) {
    var reader = new FileReader();
    reader.onload = function (e) {
      $("#menu-preview").attr('src', e.target.result);
    }
    reader.readAsDataURL(e.target.files[0]);
  });
</script>

