<%= render "layouts/page_title", title: "マイメニュー" %>

<div class="col-lg-9 col-md-12">
  <%= month_calendar events: @menus do |date, menus| %>
    <%= date.day %>

    <% menus.each do |menu| %>
      <!--同じ日付のメニューが複数ある場合、最新の一件のみ表示-->
      <% if @menus.where(date: menu.date).count <= 1 %>
        <div data-toggle="modal" data-target="#menu-modal-<%= menu.id %>" class="calendar-modal-link">
          <%= attachment_image_tag menu, :menu_image, size: "100x70", class: "calendar-image" %>
        </div>
        <!--メニューモーダル-->
        <%= render "menu_modal", menu: menu %>
      <% else %>
        <% latest_menu = @menus.where(date: menu.date).order(created_at: :DESC).first %>
        <% if latest_menu == menu %>
          <div data-toggle="modal" data-target="#menu-modal-<%= menu.id %>" class="calendar-modal-link">
            <%= attachment_image_tag menu, :menu_image, size: "100x70", class: "calendar-image" %>
          </div>
          <!--メニューモーダル-->
          <%= render "menu_modal", menu: menu %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
