<div class="container">
  <div class="row">
    <%= render "layouts/page_title", title: "マイメニュー" %>

    <div class="col-10 offset-1">
      <div class="d-flex flex-wrap">
        <% @menus.each do |menu| %>
          <div class="d-table mx-2 bg-white p-2 mb-3">
            <%= link_to menu_path(menu) do %>
              <div><%= attachment_image_tag menu, :menu_image, size: "270x200" %></div>
            <% end %>
            <div class="p-2">
              <div><%= menu.date %></div>
              <div><%= menu.category %></div>
              <!--データ登録時の改行を反映して表示-->
              <div class="pt-2">
                <%= safe_join(menu.list.split("\n"),tag(:br))%>
                <% menu.menu_recipes.each do |menu_recipe| %>
                  <div>・<%= link_to "#{menu_recipe.recipe.name}", recipe_path(menu_recipe.recipe) %></div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class='text-center'><%= paginate(@menus) %></div>
    </div>
  </div>
</div>
