<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-3 col-sm-12">
      <div class="ml-n5 mt-n3 edit-title"><%= render "layouts/page_title", title: "新規会員登録" %></div>
      <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <form class="form-horizontal">
          <div class="form-group">
            <%= f.label :name, "ユーザーネーム" %><br />
            <%= f.text_field :name, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :birth_date, "生年月日" %><br />
            <%= f.date_select :birth_date, {use_month_numbers: true, start_year: 1930, end_year: (Time.now.year - 10), prompt: "--"}, {class: "form-control w-auto d-inline-block"} %>
          </div>

          <div class="form-group">
            <%= f.label :sex, "性別" %><br />
            <%= f.radio_button :sex, "男性" %>
            <%= f.label :"男性"  %>
            <%= f.radio_button :sex, "女性" %>
            <%= f.label :"女性"  %>
          </div>

          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <span>(<%= @minimum_password_length %>文字以上)</span>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="actions">
            <%= f.submit "新規登録", class: "btn btn-info d-table mx-auto mt-5" %>
          </div>
        </form>
      <% end %>

      <h5 class='mt-5'>すでに登録済みの方</h5>
      <p class='my-4'><%= link_to "こちら", new_user_session_path %>からログインして下さい</p>
    </div>
  </div>
</div>
