<%= form_with model: recipe, local: true do |f| %>
  <div class="d-flex">
    <p class="col-4">画像</p>
    <%= f.attachment_field :recipe_image, placeholder: "ファイルを選択" %>
  </div>

  <div class="d-flex">
    <p class="col-4">料理名</p>
    <%= f.text_field :name, size: "50", placeholder: "料理名" %>
  </div>

  <div class="d-flex my-3">
    <p class="col-4">ジャンル</p>
    <div><%= f.select :genre, Recipe.genres.keys %></div>
    <div class="mx-2"><%= f.select :category, Recipe.categories.keys %></div>
    <div><%= f.select :taste, Recipe.tastes.keys %></div>
  </div>

  <div class="d-flex">
    <p class="col-4">調理時間</p>
    <div><%= f.text_field :time, placeholder: "30" %>分</div>
  </div>

  <div class="d-flex">
    <p class="col-4">人気度</p>
    <div id="popularity_stars"></div>
  </div>

  <div class="d-flex">
    <p class="col-4">出来上がりの量</p>
    <div><%= f.text_field :serving, placeholder: "3人分" %></div>
  </div>

  <div class="d-flex">
    <p class="col-4">材料</p>
    <div>
      <div id="detail-association-insertion-point">
        <%= f.fields_for :ingredients do |f| %>
          <%= render "ingredient_fields", f: f %>
        <% end %>
      </div>
    </div>
  </div>
  <!--材料フォームの追加ボタン-->
  <div class="text-right mb-3">
    <%= link_to_add_association "+フォームを追加", f, :ingredients, class: "btn btn-sm btn-secondary",
      data: {
        association_insertion_node: '#detail-association-insertion-point',
        association_insertion_method: 'after'
      }
    %>
  </div>

  <div class="d-flex">
    <p class="col-4">作り方</p>
    <div>
      <div id="direction-association-insertion-point">
        <%= f.fields_for :directions do |f| %>
          <%= render "direction_fields", f: f %>
        <% end %>
      </div>
    </div>
  </div>
  <!--作り方フォームの追加ボタン-->
  <div class="text-right mb-3">
    <%= link_to_add_association "+フォームを追加", f, :directions, class: "btn btn-sm btn-secondary",
      data: {
        association_insertion_node: '#direction-association-insertion-point',
        association_insertion_method: 'after'
      }
    %>
  </div>

  <div class="d-flex">
    <p class="col-4">メモ</p>
    <div><%= f.text_area :note, size: "50x5" %></div>
  </div>

  <div class="d-flex my-3">
    <p class="col-4">公開設定</p>
    <%= f.radio_button :is_open, :true, class: "mr-1 mt-1" %>
    <%= f.label :is_open, "公開", {value: :true, style: "display: inline-block;"} %>
    <%= f.radio_button :is_open, :false, class: "mr-1 ml-3 mt-1" %>
    <%= f.label :is_open, "非公開", {value: :false, style: "display: inline-block;"} %>
  </div>

  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="text-center"><%= f.submit "レシピを追加", class: "btn btn-success btn-lg" %></div>
<% end %>

<!--人気度の登録-->
<script>
  $('#popularity_stars').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'recipe[popularity]'
  });
</script>