<div class="d-flex flex-wrap">
  <% recipes.each do |recipe| %>
    <div class="mx-2 bg-white p-2 mb-3 border shadow-sm" style="width: 290px;">

      <div>
        <div>
          <%= link_to recipe_path(recipe) do %>
            <%= attachment_image_tag recipe, :recipe_image, size: '270x200', format:'jpeg', fallback: "no_image.png" %>
          <% end %>
        </div>
        <div class="d-flex">
          <h5 class="mt-2"><%= link_to "#{recipe.name}", recipe_path(recipe) %></h5>
          <% if recipe.user_id != current_user.id %>
            <div id="bookmark-<%= recipe.id %>" class="h5 ml-auto pr-2 mt-2">
              <%= render "bookmarks/bookmark_button", recipe: recipe %>
            </div>
          <% end %>
        </div>

        <% if recipe.time.present? %>
          <p><i class="far fa-clock"></i> <%= recipe.time %>分</p>
        <% end %>
        <% if recipe.tags.present? %>
          <% recipe.tags.each do |tag| %>
            <p class="badge badge-pill badge-success">#<%= tag.tag_name %></p>
          <% end %>
        <% end %>

      </div>
    </div>
  <% end %>
</div>

<div class="d-table mx-auto mt-3"><%= paginate recipes %></div>