<%= form_with model: recipe, local: true do |f| %>
  <div class="d-flex recipe-form">
    <p class="col-4">画像</p>
    <div>
      <%= f.attachment_field :recipe_image, placeholder: "ファイルを選択" %>
      <img id="recipe-preview" class="my-3 col-8">
    </div>
  </div>

  <div class="d-flex my-2 recipe-form">
    <p class="col-4">料理名 <%= render "layouts/not_null_badge" %></p>
    <div><%= f.text_field :name, size: "50", placeholder: "料理名", class: "form-control form-control-sm" %></div>
  </div>

  <div class="d-flex my-2 recipe-form">
    <p class="col-4">ジャンル <%= render "layouts/not_null_badge" %></p>
    <div class="genre-form"><%= f.select :genre, Recipe.genres.keys, {}, {class: "form-control form-control-sm"} %></div>
    <div class="mx-2 genre-form"><%= f.select :category, Recipe.categories.keys, {}, {class: "form-control form-control-sm"} %></div>
    <div class="genre-form"><%= f.select :taste, Recipe.tastes.keys, {}, {class: "form-control form-control-sm"} %></div>
  </div>

  <div class="d-flex recipe-form">
    <p class="col-4">調理時間</p>
    <div class="d-flex"><%= f.text_field :time, size: "23", placeholder: "30", class: "form-control form-control-sm mr-2" %>分</div>
  </div>

  <div class="d-flex my-2 recipe-form">
    <p class="col-4">人気度</p>
    <% if recipe.popularity.present? %>
      <div id="star-rate-<%= recipe.id %>"></div>
    <% else %>
      <div id="popularity_stars"></div>
    <% end %>
  </div>

  <div class="d-flex recipe-form">
    <p class="col-4">URL</p>
    <div><%= f.text_field :url, size: "50", class: "form-control form-control-sm" %></div>
  </div>

  <div class="d-flex my-2 recipe-form">
    <p class="col-4">出来上がりの量</p>
    <div><%= f.text_field :serving, size: "23", placeholder: "3人分", class: "form-control form-control-sm" %></div>
  </div>

  <div class="d-flex recipe-form">
    <p class="col-4">材料</p>
    <div>
      <div id="ingredients">
        <%= f.fields_for :ingredients do |f| %>
          <%= render "ingredient_fields", f: f %>
        <% end %>
        <!--材料フォームの追加ボタン-->
        <div class="mb-4">
          <%= link_to_add_association "+フォームを追加", f, :ingredients, class: "btn btn-sm btn-secondary rounded-pill" %>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex recipe-form">
    <p class="col-4">作り方</p>
    <div>
      <div id="directions">
        <%= f.fields_for :directions do |f| %>
          <%= render "direction_fields", f: f, num: @num %>
        <% end %>
        <!--作り方フォームの追加ボタン-->
        <div class="mb-4">
          <%= link_to_add_association "+フォームを追加", f, :directions, class: "btn btn-sm btn-secondary rounded-pill" %>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex my-3 recipe-form">
    <p class="col-4">タグ</p>
    <div>
      <p>半角スペースで区切ると複数入力できます</p>
      <% if recipe.tags.present? %>
        <div><%= f.text_field :tag_name, value: tags, size: "50", placeholder: "節約 ヘルシー", class: "form-control form-control-sm" %></div>
      <% else %>
        <div><%= f.text_field :tag_name, size: "50", placeholder: "節約 ヘルシー", class: "form-control form-control-sm" %></div>
      <% end %>
    </div>
  </div>

  <div class="d-flex recipe-form">
    <p class="col-4">メモ</p>
    <div><%= f.text_area :note, size: "50x5", class: "form-control form-control-sm" %></div>
  </div>

  <div class="d-flex my-3 recipe-form">
    <p class="col-4">公開設定 <%= render "layouts/not_null_badge" %></p>
    <%= f.radio_button :is_open, :true, class: "mr-1 mt-1" %>
    <%= f.label :is_open, "公開", {value: :true, style: "display: inline-block;"} %>
    <%= f.radio_button :is_open, :false, class: "mr-1 ml-3 mt-1" %>
    <%= f.label :is_open, "非公開", {value: :false, style: "display: inline-block;"} %>
  </div>

  <div class="d-flex  justify-content-center">
    <div><%= link_to "キャンセル", my_recipe_path(current_user), class: "btn btn-secondary mr-2" %></div>
    <div><%= f.submit "レシピを保存", class: "btn btn-success" %></div>
  </div>
<% end %>

<!--人気度の登録-->
<script>
  $('#popularity_stars').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    half: true,
    scoreName: "recipe[popularity]"
  });
</script>

<!--人気度の編集-->
<script>
  $("#star-rate-<%= recipe.id %>").raty({
    starOff:  "<%= asset_path("star-off.png") %>",
    starOn : "<%= asset_path("star-on.png") %>",
    starHalf: "<%= asset_path("star-half.png") %>",
    half: true,
    readOnly: false,
    score: <%= recipe.popularity %>,
    scoreName: "recipe[popularity]"
  });
</script>

<!--画像のプレビュー表示-->
<script>
  $('#recipe_recipe_image').on('change', function (e) {
    var reader = new FileReader();
    reader.onload = function (e) {
      $("#recipe-preview").attr('src', e.target.result);
    }
    reader.readAsDataURL(e.target.files[0]);
  });
</script>
