<span><%= f.label :name_cont, 'レシピ名　' %></span>
<span><%= f.search_field :name_cont, class: "form-control form-control-sm col-3 d-inline-block mb-2" %></span>

<span><%= f.label :ingredients_name_cont, '　材料名　' %></span>
<span><%= f.search_field :ingredients_name_cont, class: "form-control form-control-sm col-3 d-inline-block mb-2" %>　</span><br>

<span><%= f.label :genre_eq, 'ジャンル　' %></span>
<span><%= f.select :genre_eq, Recipe.genres.keys, {:include_blank => '指定しない'}, {class: "form-control form-control-sm col-2 d-inline-block"} %></span>

<span><%= f.label :category_eq, '　カテゴリー' %></span>
<span><%= f.select :genre_eq, Recipe.categories.keys, {:include_blank => '指定しない'}, {class: "form-control form-control-sm col-2 d-inline-block"} %></span>

<span><%= f.label :taste_eq, '　味付け' %></span>
<span><%= f.select :taste_eq, Recipe.tastes.keys, {:include_blank => '指定しない'}, {class: "form-control form-control-sm col-2 d-inline-block"}  %></span><br>

<span><%= f.label :popularity_gteq, '人気度　　' %></span>
<span><%= f.radio_button :popularity_gteq, '' %> 指定しない　</span>
<span class="mr-4"><%= f.radio_button :popularity_gteq, '1.0' %> <%= image_tag "star-on.png", size: "16", class:"mb-1" %>1 以上</span>
<span class="mr-4"><%= f.radio_button :popularity_gteq, '2.0' %> <%= image_tag "star-on.png", size: "16", class:"mb-1" %>2 以上</span>
<span class="mr-4"><%= f.radio_button :popularity_gteq, '3.0' %> <%= image_tag "star-on.png", size: "16", class:"mb-1" %>3 以上</span>
<span class="mr-4"><%= f.radio_button :popularity_gteq, '4.0' %> <%= image_tag "star-on.png", size: "16", class:"mb-1" %>4 以上</span>
<span><%= f.radio_button :popularity_gteq, '5.0' %> <%= image_tag "star-on.png", size: "16", class:"mb-1" %>5</span><br>

<span><%= f.label :time_lteq, '調理時間　' %></span>
<span><%= f.radio_button :time_lteq, '' %> 指定しない　</span>
<span><%= f.radio_button :time_lteq, '20' %> 20分以下　</span>
<span><%= f.radio_button :time_lteq, '30' %> 30分以下　</span>
<span><%= f.radio_button :time_lteq, '40' %> 40分以下　</span>
<span><%= f.radio_button :time_lteq, '50' %> 50分以下　</span>
<span><%= f.radio_button :time_gteq, '60' %> 60分以上　</span><br>
<input type="submit" value="&#xf002; 検索" class="fas btn btn-secondary mt-2">