<div class="px-3 pt-3 pb-2 mb-3 border rounded shadow-sm search-bg">
  <h3><%= title %></h3>
  <%= search_form_for q, url: search_path do |f| %>

    <span><%= f.label :name_cont, 'レシピ名　' %></span>
    <span><%= f.search_field :name_cont, class: "form-control form-control-sm col-3 d-inline-block mb-2" %></span>

    <span><%= f.label :ingredients_name_cont, '　材料名　' %></span>
    <span><%= f.search_field :ingredients_name_cont, class: "form-control form-control-sm col-3 d-inline-block mb-2" %>　</span><br>

    <span><%= f.label :genre_eq, 'ジャンル　' %></span>
    <% if @results.present? %>
      <span><%= f.select :genre_eq, options_for_select(Recipe.genres, :selected => params[:q][:genre_eq]), {:include_blank => '指定しない'}, {class: "form-control form-control-sm col-2 d-inline-block mb-2"} %></span>
    <% else %>
      <span><%= f.select :genre_eq, options_for_select(Recipe.genres), {:include_blank => '指定しない'}, {class: "form-control form-control-sm col-2 d-inline-block mb-2"} %></span>
    <% end %>

    <span><%= f.label :category_eq, '　カテゴリー' %></span>
    <% if @results.present? %>
      <span><%= f.select :category_eq, options_for_select(Recipe.categories, :selected => params[:q][:category_eq]), {:include_blank => '指定しない'}, {class: "form-control form-control-sm col-2 d-inline-block mb-2"} %></span>
    <% else %>
      <span><%= f.select :category_eq, options_for_select(Recipe.categories), {:include_blank => '指定しない'}, {class: "form-control form-control-sm col-2 d-inline-block mb-2"} %></span>
    <% end %>

    <span><%= f.label :taste_eq, '　味付け' %></span>
    <% if @results.present? %>
      <span><%= f.select :taste_eq, options_for_select(Recipe.tastes, :selected => params[:q][:taste_eq]), {:include_blank => '指定しない'}, {class: "form-control form-control-sm col-2 d-inline-block mb-2"}  %></span><br>
    <% else %>
      <span><%= f.select :taste_eq, options_for_select(Recipe.tastes), {:include_blank => '指定しない'}, {class: "form-control form-control-sm col-2 d-inline-block mb-2"}  %></span><br>
    <% end %>

    <span class="mb-2"><%= f.label :popularity_gteq, '人気度　　' %></span>
    <span class="mr-2"><%= f.radio_button :popularity_gteq, '' %> 指定しない</span>
    <span class="mr-3"><%= f.radio_button :popularity_gteq, '1.0' %> <%= image_tag "star-on.png", size: "16", class:"mb-1" %>１以上</span>
    <span class="mr-3"><%= f.radio_button :popularity_gteq, '2.0' %> <%= image_tag "star-on.png", size: "16", class:"mb-1" %>２以上</span>
    <span class="mr-3"><%= f.radio_button :popularity_gteq, '3.0' %> <%= image_tag "star-on.png", size: "16", class:"mb-1" %>３以上</span>
    <span class="mr-3"><%= f.radio_button :popularity_gteq, '4.0' %> <%= image_tag "star-on.png", size: "16", class:"mb-1" %>４以上</span>
    <span><%= f.radio_button :popularity_gteq, '5.0' %> <%= image_tag "star-on.png", size: "16", class:"mb-1" %>５</span><br>

    <span><%= f.label :time_lteq, '調理時間　' %></span>
    <span class="mr-2"><%= f.radio_button :time_lteq, '' %> 指定しない</span>
    <span class="mr-2"><%= f.radio_button :time_lteq, '20' %> 20分以下</span>
    <span class="mr-2"><%= f.radio_button :time_lteq, '30' %> 30分以下</span>
    <span class="mr-2"><%= f.radio_button :time_lteq, '40' %> 40分以下</span>
    <span class="mr-2"><%= f.radio_button :time_lteq, '50' %> 50分以下</span>
    <span class="mr-2"><%= f.radio_button :time_gteq, '60' %> 60分以上</span><br>
    <input type="submit" value="&#xf002; 検索" class="fas btn btn-gray mt-2">
  <% end %>
</div>