<div class="container mt-5">
  <div class="col-10 offset-1">

    <h3>タグリスト</h3>
    <% @tags.each do |tag| %>
      <div>
        <%= link_to tag.name, tag_recipes_path(tag_id: tag.id) %>
        <%= "#{tag.recipes.count}" %>
      </div>
    <% end %>

    <div class="d-flex flex-wrap">
      <% @recipes.each do |recipe| %>
        <div class="mx-4">
          <div>
            <%= link_to recipe_path(recipe) do %>
              <%= attachment_image_tag recipe, :recipe_image, size: '250x200', format:'jpeg', fallback: "no_image.png" %>
            <% end %>
          </div>
          <h5 class="my-2"><%= link_to "#{recipe.name}", recipe_path(recipe) %></h5>
          <p><%= recipe.category %> / <%= recipe.genre %> / <%= recipe.taste %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>