<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="d-flex mb-3 mx-auto">-->
<!--      <%#= render "layouts/page_title", title: "タイムライン" %>-->

<!--      <div class="mt-4 p-3 search-bg border rounded shadow-sm">-->
<!--        <h3>レシピ検索</h3>-->
<!--        <%#= search_form_for @q, url: search_path do |f| %>-->
<!--          <div><%#= render "search_form", f: f %></div>-->
<!--        <%# end %>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-lg-10 offset-lg-1 col-sm-12 offset-sm-0">-->
<!--      <div class="mb-3"><%#= render "tag_list", tags: @tags %></div>-->

<!--      <%#= render "recipe_index", recipes: @recipes %>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="container">

  <!--<div class="mb-3 ml-n3">-->
    <%#= render "layouts/page_title", title: "タイムライン" %>
  <!--</div>-->

  <div class="row">
    <div class="col-lg-10 col-sm-12 offset-sm-0">
      <div class="p-3 mb-3 search-bg border rounded shadow-sm">
        <h3>レシピ検索</h3>
        <%= search_form_for @q, url: search_path do |f| %>
          <div><%= render "search_form", f: f %></div>
        <% end %>
      </div>
      <div class="mb-3"><%= render "tag_list", tags: @tags %></div>

      <%= render "recipe_index", recipes: @recipes %>
    </div>

   <%= render "layouts/sidebar" %>
  </div>
</div>