<div class="container mt-5">
  <div class="row">

    <div class="col-lg-9 col-md-9 col-sm-12">
      <div class="p-3 mb-3 search-bg border rounded shadow-sm">
        <h3>レシピ検索</h3>
        <%= search_form_for @q, url: search_path do |f| %>
          <div><%= render "search_form", f: f %></div>
        <% end %>
      </div>
      <div class="mb-3"><%= render "tag_list", tags: @tags %></div>

      <%= render "recipe_index", recipes: @recipes %>
    </div>

   <%= render "layouts/sidebar" %>
  </div>
</div>