<div class="container">
  <div class="row">
    <div class="d-flex">
      <%= render "layouts/page_title", title: "マイレシピ" %>
      <div class="mt-5">
        <h3>レシピ検索</h3>
        <%= search_form_for @q, url: my_search_path do |f| %>
          <div class="mb-3"><%= render "search_form", f: f %></div>
        <% end %>
      </div>
    </div>

    <div class="col-10 offset-1">
      <div class="d-flex justify-content-end"><%= link_to "ブックマークしたレシピを見る＞", user_bookmarks_path(current_user) %></div>
      <%= render "tag_list", tags: @tags %>

      <%= render "recipe_index", recipes: @my_recipes %>
    </div>
  </div>

</div>