<div class="container">
  <div class="row">
    <%= render "layouts/page_title", title: "マイレシピ" %>

    <div class="col-10 offset-1">
      <div class="d-flex flex-wrap">
      <% @my_recipes.each do |recipe| %>
        <div class="mx-4">
          <div>
            <%= link_to recipe_path(recipe) do %>
              <%= attachment_image_tag recipe, :recipe_image, size: '250x200', format:'jpeg', fallback: "no_image.png" %>
            <% end %>
          </div>
          <h5 class="my-2"><%= link_to "#{recipe.name}", recipe_path(recipe) %></h5>
          <p><%= recipe.category %> / <%= recipe.genre %> / <%= recipe.taste %></p>
        </div>
      <% end %>
    </div>
    </div>
  </div>

</div>