<div class="container">
  <div class="row">
    <div class="d-flex">
      <%= render "layouts/page_title", title: "マイレシピ" %>
      <div class="mt-5">
        <h3>レシピ検索</h3>
        <%= search_form_for @q, url: my_search_path do |f| %>
          <div class="mb-3"><%= render "search_form", f: f %></div>
        <% end %>
      </div>
    </div>

    <div class="col-10 offset-1">
      <div class="d-flex align-items-end justify-content-end pb-5"><%= link_to "ブックマークしたレシピを見る＞", user_bookmarks_path(current_user) %></div>
      <%= render "tag_list", tags: @tags %>

      <div class="d-flex flex-wrap">
      <% @my_recipes.each do |recipe| %>
        <div class="mx-4">
          <div>
            <%= link_to recipe_path(recipe) do %>
              <%= attachment_image_tag recipe, :recipe_image, size: '250x200', format:'jpeg', fallback: "no_image.png" %>
            <% end %>
          </div>
          <h5 class="my-2"><%= link_to "#{recipe.name}", recipe_path(recipe) %></h5>
          <p><%= recipe.category %> / <%= recipe.genre %> / <%= recipe.taste %></p>
        </div>
      <% end %>
    </div>
    </div>
  </div>

</div>