<div class="container mt-5">
  <div class="row">

    <div class="col-10">
      <div class="p-3 search-bg border shadow-sm rounded">
        <h3>マイレシピ検索</h3>
        <%= search_form_for @q, url: my_search_path do |f| %>
          <div><%= render "search_form", f: f %></div>
        <% end %>
      </div>

      <div class="mb-3"><%= render "tag_list", tags: @tags %></div>

      <% if @results.present? %>
        <%= render "recipes/recipe_index", recipes: @results %>
      <% else %>
        <h3 class="d-table mx-auto mt-5">該当するレシピはありません</h3>
      <% end %>
    </div>

    <%= render "layouts/sidebar" %>
  </div>
</div>