<div class="container mt-5">
  <div class="col-10 offset-1">

    <%= render "tag_list", tags: @tags %>

    <h3>レシピ検索</h3>
    <%= search_form_for @q, url: search_path do |f| %>
      <div class="mb-3"><%= render "search_form", f: f %></div>
    <% end %>

    <div class="d-flex flex-wrap">
      <% @results.each do |recipe| %>
        <div class="mx-4 mb-5">
          <div>
            <%= link_to recipe_path(recipe) do %>
              <%= attachment_image_tag recipe, :recipe_image, size: '250x200', format:'jpeg', fallback: "no_image.png" %>
            <% end %>
          </div>
          <h5 class="mt-2"><%= link_to "#{recipe.name}", recipe_path(recipe) %></h5>
          <%= recipe.category %> / <%= recipe.genre %> / <%= recipe.taste %>

          <% if recipe.user_id != current_user.id %>
            <% if recipe.marked_by?(current_user) %>
              <div>
                <%= link_to recipe_bookmarks_path(recipe), method: :delete do %>
                  <span class="btn btn-secondary btn-block fas fa-bookmark mt-2 mb-4"> ブックマーク登録解除</span>
                <% end %>
              </div>
            <% else %>
              <div>
                <%= link_to recipe_bookmarks_path(recipe), method: :post do %>
                  <span class="btn btn-outline-secondary btn-block far fa-bookmark mt-2 mb-4"> ブックマークに追加</span>
                <% end %>
              </div>
            <% end %>
          <% end %>

        </div>
      <% end %>
    </div>
  </div>
</div>