<div class="col-lg-9 col-md-12">
  <div class="bg-white p-5 border recipe-show-container">

    <h2 class="mb-4 d-inline-block"><%= @recipe.name %></h2>
    <button type="button" id="detail-btn" class="ml-3 text-nowrap">
      レシピ詳細<i class="fas ml-2 fa-caret-down" id="detail-icon"></i>
    </button>
    <!--レシピの詳細情報　ボタンクリックで表示-->
    <div id="details" class="mb-4">
      <div class="mb-1">ジャンル：<%= @recipe.genre %></div>
      <div class="mb-1">カテゴリー：<%= @recipe.category %></div>
      <div class="mb-1">味付け：<%= @recipe.taste %></div>
      <% if @recipe.time.present? %>
        <div class="mb-1">調理時間：<%= @recipe.time %> 分</div>
      <% end %>
      <% if @recipe.popularity.present? && @recipe.user_id == current_user.id %>
        <div class="mb-1" id="star-rate-<%= @recipe.id %>">人気度：</div>
      <% end %>
      <% if @tags.present? %>
        <div class="mb-1">タグ：
          <% @tags.each do |tag| %>
            <%= link_to "# #{tag.tag_name}", tag_search_path(tag), class: "badge badge-pill badge-success" %>
          <% end %>
        </div>
      <% end %>
      <% if @recipe.user_id == current_user.id %>
        <% if @recipe.is_open? %>
          <div class="mb-1">公開設定：公開中</div>
        <% else %>
          <div class="mb-1">公開設定：非公開</div>
        <% end %>
      <% end %>
    </div>

    <div class="d-flex ingredient">
      <div class="recipe-show-img">
        <%= attachment_image_tag @recipe, :recipe_image, format:'jpeg', fallback: "no_image.png" %>
      </div>
      <!--材料-->
      <% if @ingredients.present? %>
        <div class="ml-4 ingredient-table">
          <h4 class="d-inline-block">材料　</h4>
          <% if @recipe.serving? %>
            <p class="d-inline-block">(<%= @recipe.serving %>)</p>
          <% end %>
          <table class="table">
            <tbody>
              <% @ingredients.each do |i| %>
              <tr>
                <td><%= i.name %></td>
                <td><%= i.quantity %></td>
                <td>
                  <!--買い物リストへの追加ボタン-->
                  <%= form_with model: @item, local: true do |f| %>
                    <%= f.hidden_field :name, :value => i.name %>
                    <%= f.submit "＋", class: "btn btn-sm btn-gray rounded-circle" %>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
    <!--作り方-->
    <% if @directions.present? %>
      <div class="mt-5 direction">
        <h4>作り方</h4>
        <ol>
          <% @directions.each do |d| %>
            <li class="directions-list"><%= d.description %></li>
          <% end %>
        </ol>
      </div>
    <% end %>
    <!--メモ-->
    <% if @recipe.note.present? %>
      <div class="px-4 pb-4 border rounded mt-2">
        <div class="py-2">-memo-</div>
        <%= @recipe.note %>
      </div>
    <% end %>
    <!--URL-->
    <% if @recipe.url.present? %>
      <div class="mt-3 text-break">URL：<%= text_url_to_link(@recipe.url).html_safe %></div>
    <% end %>
    <!--ボタン-->
    <div class="justify-content-end mt-4 d-flex">
      <% if @recommend_main.present? || @recommend_sub.present? || @recommend_soup.present? %>
        <div class="mr-auto text-nowrap">
          <%= link_to "おすすめを見る", recipe_recommend_path(@recipe), remote: true, class: "btn btn-sm btn-violet" %>
        </div>
      <% end %>
      <% if current_user.admin? %>
        <div>ユーザーID <%= link_to @recipe.user_id, user_path(@recipe.user_id) %></div>
      <% end %>
      <% if @recipe.user_id == current_user.id || current_user.admin? %>
        <%= link_to edit_recipe_path(@recipe) do %>
          <i class="fas fa-edit h4 mx-3 text-secondary"></i>
        <% end %>
        <%= link_to recipe_path(@recipe), method: :delete, data: {confirm: "削除しますか？"} do %>
          <i class="fas fa-trash-alt h4 text-secondary"></i>
        <% end %>
      <% end %>
    </div>
    <!--おすすめレシピ-->
    <div id="recommend"></div>
  </div>
</div>

<!--人気度の表示-->
<script>
  $("#star-rate-<%= @recipe.id %>").raty({
    starOff:  "<%= asset_path("star-off.png") %>",
    starOn : "<%= asset_path("star-on.png") %>",
    starHalf: "<%= asset_path("star-half.png") %>",
    half: true,
    readOnly: true,
    score: <%= @recipe.popularity || 0 %>
  });
</script>