<div class="container">
  <div class="row">

    <div class="d-flex mb-3">
      <%= render "layouts/page_title", title: "タグ検索" %>
      <h3 class="d-flex align-items-center ml-5">"<%= @tag.tag_name %>" (<%= @tag.recipes.count %>件)</h3>
    </div>

    <div class="col-10 offset-1">

      <%= render "tag_list", tags: @tags %>

      <%= render "recipe_index", recipes: @recipes %>
    </div>
  </div>
</div>