<div class="col-lg-6 offset-lg-2 col-md-12">
  <div class="ml-n5 mt-n5 edit-title"><%= render "layouts/page_title", title: "会員情報編集" %></div>
  <%= render "layouts/errors", obj: @user %>
  <%= form_with model: @user, local: true do |f| %>
    <div class="form-horizontal">
      <div class="form-group">
        <%= f.label :name, "ユーザーネーム" %><br />
        <%= f.text_field :name, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :birth_date, "生年月日" %><br />
        <%= f.date_select :birth_date, {prompt: "--", use_month_numbers: true, start_year: 1930, end_year: (Time.now.year - 10)}, {class: "form-control d-inline-block w-auto"} %>
      </div>

      <div class="form-group">
        <%= f.label :sex, "性別" %><br />
        <%= f.radio_button :sex, "男性" %>
        <%= f.label :"男性"  %>
        <%= f.radio_button :sex, "女性" %>
        <%= f.label :"女性"  %>
      </div>

      <div class="form-group">
        <%= f.label :email, "メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="mx-auto d-table">
        <%= f.submit "変更", class: "btn btn-violet mt-5" %>
      </div>
    </div>
  <% end %>

  <% if current_user.admin? %>
    <div class="text-right"><%= link_to "強制退会", user_path(@user), method: :delete, data: {confirm: "強制退会を実行してよろしいですか？"}, class: "btn btn-sm btn-red" %></div>
  <% end %>
</div>
<div class="col-lg-1"></div>

