<div class="container">
  <div class="col-6 offset-3">
    <h2 class="my-5">ユーザー情報編集</h2>

    <%= form_with model: @user, local: true do |f| %>
      <form class="form-horizontal">
        <div class="form-group">
          <%= f.label :name, "ユーザーネーム" %><br />
          <%= f.text_field :name, autofocus: true, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :birth_date, "生年月日" %><br />
          <%= f.date_select :birth_date, use_month_numbers: true, start_year: 1930, end_year: (Time.now.year - 10), prompt: "--", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :sex, "性別" %><br />
          <%= f.radio_button :sex, "男性" %>
          <%= f.label :"男性"  %>
          <%= f.radio_button :sex, "女性" %>
          <%= f.label :"女性"  %>
        </div>

        <div class="form-group">
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <% if current_user.admin? %>
          <div class="form-group">
            <%= f.label :is_deleted, "会員ステータス" %><br />
            <%= f.radio_button :is_deleted, false %>
            <%= f.label :false, "有効"  %>
            <%= f.radio_button :is_deleted, true %>
            <%= f.label :true, "退会"  %>
          </div>
        <% end %>

        <div class="mx-auto d-table">
          <%= f.submit "変更", class: "btn btn-success mt-5" %>
        </div>
      </form>
    <% end %>

    <!--モーダルのトリガー-->
    <div class="text-right" data-toggle="modal" data-target="#exampleModalCenter">退会はこちら＞</div>

    <!--退会確認用モーダル-->
    <%= render "confirm" %>

  </div>
</div>
