<div class="col-lg-9 col-md-12">
  <div class="ml-n4"><%= render "layouts/page_title", title: "会員情報確認" %></div>
  <table class="table table-bordered text-center mt-5 user-table">
    <thead class="thead-light">
      <tr>
        <th>ID</th>
        <th>会員名</th>
        <th>年齢</th>
        <th>性別</th>
        <th>メールアドレス</th>
      </tr>
    </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= link_to "#{user.name}", edit_user_path(user) %></td>
            <% if user.birth_date.present? %>
              <td><%= (Time.now.strftime("%Y%m%d").to_i - user.birth_date.strftime("%Y%m%d").to_i) / 10000 %> 歳</td>
            <% else %>
              <td>未登録</td>
            <% end %>
            <% if user.sex.present? %>
              <td><%= user.sex %></td>
            <% else %>
              <td>未登録</td>
            <% end %>
            <td><%= user.email %></td>
          </tr>
        <% end %>
      </tbody>
  </table>
</div>
