<div><%= render "layouts/page_title", title: "会員情報確認" %></div>
<div class="col-lg-9 col-md-12">
  <div class="text-right mb-2 mt-n3"><%= link_to "編集", edit_user_path(@user), class: "btn btn-sm btn-outline-secondary" %></div>
  <table class="table table-bordered mb-5 bg-white user-table">
    <tbody>
      <tr>
        <th class="col-4 pl-5">ユーザネーム</th>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <th class="col-4 pl-5">登録日</th>
        <td><%= @user.created_at.strftime("%Y年%-m月%-d日") %></td>
      </tr>
      <tr>
        <th class="col-4 pl-5">生年月日</th>
        <% if @user.birth_date.present? %>
          <td><%= @user.birth_date.strftime("%Y年%-m月%-d日") %></td>
        <% else %>
          <td>未登録</td>
        <% end %>
      </tr>
      <tr>
        <th class="col-4 pl-5">性別</th>
        <% if @user.sex.present? %>
          <td><%= @user.sex %></td>
        <% else %>
          <td>未登録</td>
        <% end %>
      </tr>
      <tr>
        <th class="col-4 pl-5">メールアドレス</th>
        <td><%= @user.email %></td>
      </tr>
    </tbody>
  </table>

  <% if !current_user.admin? %>
    <!--モーダルのトリガー-->
    <div class="text-right withdraw-link" data-toggle="modal" data-target="#confirm-modal">退会はこちら＞</div>
  <% end %>

  <!--退会確認用モーダル-->
  <%= render "confirm" %>
</div>
