<header class="shadow-sm fixed-top r-head">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

      <% if user_signed_in? %>
        <!--検索アイコン-->
        <div class="search-icon text-light pl-n3"><i class="fas fa-search text-light h5 mb-n3"></i><br>検索</div>
        <!--検索フォーム-->
        <% if current_page?(my_recipe_path) || current_page?(my_search_path) %>
          <div class="d-block d-md-none"><%= render "responsive_search", title: "マイレシピ検索", q: @q, search_path: my_search_path %></div>
        <% elsif current_page?(user_bookmarks_path(current_user)) || current_page?(bookmark_search_path) %>
          <div class="d-block d-md-none"><%= render "recipes/responsive_search", title: "ブックマーク検索", q: @q, search_path: bookmark_search_path %></div>
        <% else %>
          <div class="d-block d-md-none"><%= render "recipes/responsive_search", title: "レシピ検索", q: @q %></div>
        <% end %>
        <!--タイトル-->
        <a class="navbar-brand mx-auto" href="/">
          <%= image_tag "logo.png", size: "34x35", class: "pb-1" %>
          <h5 class="d-inline-block text-light font-weight-bold">Today's menu</h5>
        </a>
        <!--ハンバーガーアイコン-->
        <div id="hm-icon">
          <a class="menu-trigger" href="#">
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>
        <!--サイドバー-->
        <section id="navigation" class="shadow-lg">
          <ul>
            <li class="r-side-bg shadow-sm">
              <h3 class="py-2 text-white px-3 shadow-sm side-title"><i class="fas fa-book mr-2"></i>レシピ</h3>
              <p class="pt-2"><%= link_to "タイムライン", recipes_path %></p>
              <p><%= link_to "マイレシピ", my_recipe_path %></p>
              <p><%= link_to "マイレシピ追加", new_recipe_path %></p>
              <p><%= link_to "ブックマーク", user_bookmarks_path(current_user) %></p>
            </li>

            <li class="r-side-bg shadow-sm">
              <h3 class="text-white px-3 py-2 pb-2 shadow-sm side-title"><i class="fas fa-utensils mr-2"></i>メニュー</h3>
              <p class="pt-2"><%= link_to "カレンダー", calendar_path %></p>
              <p><%= link_to "マイメニュー一覧", menus_path %></p>
              <p><%= link_to "マイメニュー追加", new_menu_path %></p>
            </li>

            <li class="r-side-bg shadow-sm">
              <h3 class="text-white px-3 py-2 py-2 pb-2 shadow-sm side-title"><i class="fas fa-shopping-basket mr-2"></i>ツール</h3>
              <p class="pt-2"><%= link_to "買い物リスト", buy_items_path, 'data-turbolinks': false %></p>
              <p><%= link_to "ルーレット", roulette_path %></p>
            </li>

            <li class="r-side-bg shadow-sm pb-5">
              <h3 class="text-white px-3 py-2 pb-2 shadow-sm side-title"><i class="fas fa-user-circle mr-2"></i>会員情報</h3>
                <% if current_user.admin? %>
                  <p class="pt-2"><%= link_to "会員情報確認", users_path %></p>
                <% else %>
                  <p><%= link_to "会員情報確認", user_path(current_user) %></p>
                <% end %>
              <p><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></p>
            </li>
          </ul>
        </section>
      <% else %>
        <a class="navbar-brand mx-auto" href="/"><%= image_tag "logo.png", size: "34x35", class: "pb-1 mr-n1" %>
          <h5 class="d-inline-block text-light font-weight-bold">Today's menu</h5>
        </a>
      <% end %>

    </div>
  </nav>
</header>
<% unless user_signed_in? %>
  <!--サブヘッダー-->
  <div class="sub-header d-flex justify-content-around py-1 small text-nowrap">
    <div>
      <%= link_to "新規登録", new_user_registration_path, class: " text-light" %>
    </div>
    <div>
      <%= link_to "ログイン", new_user_session_path, class: " text-light" %>
    </div>
    <div>
      <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: " text-light" %>
    </div>
  </div>
<% end %>
