<footer class="pt-3 pb-2">
  <div class="d-flex justify-content-around">
    <div class="text-dark">
      <%=link_to my_recipe_path do %>
        <i class="fas fa-book mx-auto d-table mb-1 h5 text-dark"></i>
        <p class="foot-label">マイレシピ</p>
      <% end %>
    </div>
    <div class="text-dark">
      <%=link_to new_recipe_path, 'data-turbolinks': false do %>
        <i class="fas fa-book-open mx-auto d-table mb-1 h5 text-dark"></i>
        <p class="foot-label">レシピ追加</p>
      <% end %>
    </div>
    <div class="text-dark">
      <%=link_to calendar_path do %>
        <i class="far fa-calendar-alt mx-auto d-table mb-1 h5"></i>
        <p class="foot-label">カレンダー</p>
      <% end %>
    </div>
    <div class="text-dark">
      <%=link_to new_menu_path, 'data-turbolinks': false do %>
        <i class="fas fa-utensils mx-auto d-table mb-1 h5"></i>
        <p class="foot-label">メニュー追加</p>
      <% end %>
    </div>
    <div class="text-dark">
      <%=link_to buy_items_path, 'data-turbolinks': false do %>
        <i class="fas fa-shopping-basket mx-auto d-table mb-1 h5"></i>
        <p class="foot-label">買い物リスト</p>
      <% end %>
    </div>
  </div>
</footer>