<div class="col-lg-3 col-md-3 d-none d-lg-block">
  <div class="side-bg shadow-sm">
    <div>
      <h5 class="py-2 text-white px-3 py-2 shadow-sm side-title"><i class="fas fa-book mr-2"></i>レシピ</h5>
      <div class="ml-2 pt-2">
        <p><%= link_to "タイムライン", recipes_path %></p>
        <p><%= link_to "マイレシピ", my_recipe_path %></p>
        <p><%= link_to "マイレシピ追加", new_recipe_path, 'data-turbolinks': false %></p>
        <p><%= link_to "ブックマーク", user_bookmarks_path(current_user) %></p>
      </div>
    </div>
    <div class="my-4">
      <h5 class="text-white px-3 py-2 pb-2 shadow-sm side-title"><i class="fas fa-utensils mr-2"></i>メニュー</h5>
      <div class="ml-2 pt-2">
        <p><%= link_to "カレンダー", calendar_path %></p>
        <p><%= link_to "マイメニュー一覧", menus_path %></p>
        <p><%= link_to "マイメニュー追加", new_menu_path, 'data-turbolinks': false %></p>
      </div>
    </div>
    <div>
      <h5 class="text-white px-3 py-2 py-2 pb-2 shadow-sm side-title"><i class="fas fa-shopping-basket mr-2"></i>ツール</h5>
      <div class="ml-2 pt-2">
        <p><%= link_to "買い物リスト", buy_items_path %></p>
        <p><%= link_to "ルーレット", roulette_path, 'data-turbolinks': false %></p>
      </div>
    </div>
    <div class="mt-4">
      <h5 class="text-white px-3 py-2 pb-2 shadow-sm side-title"><i class="fas fa-user-circle mr-2"></i>会員情報</h5>
      <div class="ml-2 py-2">
        <% if current_user.admin? %>
          <p><%= link_to "会員情報確認", users_path %></p>
        <% else %>
          <p><%= link_to "会員情報確認", user_path(current_user) %></p>
        <% end %>
        <p><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></p>
      </div>
    </div>
  </div>
</div>